<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mihajlo Strajin</mat-card-title>
      <mat-card-subtitle>IT7/2018</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Moje ime je Mihajlo. Student sam treće godine na Fakultetu tehničkih nauka, smer inženjerstvo informacionih sistema.
        Pored studiranja bavim se i muzikom. Sviram tamburu i član sam nekoliko orkestara. 
      </p>
    </mat-card-content>
  </mat-card>
  