<mat-card class="card">
    <mat-card-header>
        <mat-card-title>O aplikaciji</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Cilj aplikacije je da olakša poslovanje jedne banke. U okviru aplikacije vodi se evidencija o klijentima, kreditima,
            računima i tipovima računa. Svaki kredit, račun, tip računa i klijent se mogu dodavati brisati i modifikovati. 
        </p>
        <p>
            Za svaki kredit beleži se naziv, opis i oznaka kredita.
        </p>
        <p>
            Svaki tip računa ima naziv, opis i oznaku.
        </p>
        <p>
            Za klijenta se beleži ime, prezime, broj lične karte kao i kredit koji ima. Klikom na nekog klijenta izlistavaju 
            se svi računi koje taj klijent poseduje.
        </p>
        <p>
            Za svaki račun beleži se naziv, oznaka, opis kao i koji je tip računa i koji klijent ga poseduje.
        </p>
    </mat-card-content>
    
</mat-card>

